@charset "utf-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url("../font/GmarketSansMedium.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url("../font/GmarketSansBold.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url("../font/IBMPlexSansKR-SemiBold.ttf") format('woff');
    font-weight: normal;
    font-style: normal;
}
/* G마켓산스M/메인 */
h1{
    font-family: 'GmarketSansMedium';
}
/* G마켓산스B */
h2{
    font-family: 'GmarketSansBold';
}
/* IBMP_B/서브 */
h3{
    font-family: 'IBMPlexSansKR-Bold';
}